//StackBlitz : https://stackblitz.com/edit/stackblitz-starters-suz4j2dh?file=src%2Fhello%2Fhello.component.html,src%2Fhello%2Fhello.component.ts,src%2Fmain.ts,src%2Findex.html

<h1>This is hello component</h1>
<form>
  <input
    type="text"
    [(ngModel)]="searchText"
    name="searchText"
    (input)="getSearchText($event)"
  />
</form>
<div *ngFor="let product of products">dsds {{ product.description }}</div>

/**
The same thing can be written with blocks as shown below
@for(product of products;track product.id){
<div>
  {{ product.title }}
</div>
}
*/

/*
Note
1) that Angular expressions are evaluated through "" as expressions similar to react evaluating them in {}
2) Dont need to add injected items into the imports array
*/
